/* @media print (for change the size of paage of photocopy like a4,a2,a3(for printer)) 
by default all hota hai                  
*/
h1{
    color: hotpink;
}
div{
    width: 600px;
    border: 2px solid black;
    margin: 20px auto;
}
/* @media print and(width:500px) { */

    /* or condition is given by (,) */
    @media screen and (orientation:landscape ), width(min-width:500px) {
    h1{
        color: rgb(59, 148, 161);
    }
    p{
        font-size: 40px;
    }
    
}
/* max width use Kr rhe ho to badi value upar and min width ho to chhoti value upar */