h1{
    color: rgb(33, 175, 232);text-align: center;background-attachment: fixed;background-color: rgb(228, 232, 31);
}
img{
    margin-left: 40%;
   
}
body{
    background-image: url("https://w0.peakpx.com/wallpaper/535/1003/HD-wallpaper-quote-annonymous-capitalism-communism-government-insane-politics-poor-poverty-woke.jpg");
   
}